*{
    margin: 0;
    padding: 0;
    
}
html {
    height: 100%;
}

html, body {
    min-height:100%;
    
}

body{
    background: url("grafika/zachod.png") no-repeat center center;
    background-size: cover;
    display:  flex;
    flex-direction: column;
    justify-content: center;
}


.container{
    
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    
    
    
}

div{
    display: block;
}



.logo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:  darkseagreen;
    font-weight:  initial;
    background: url("grafika/autor.png") center center;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.btn{
    
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,231,103,0.95) 23%, rgba(254,182,69,0.83) 87%, rgba(254,182,69,0.8) 100%);
    text-decoration:  none;
    border-radius: 5px;
    padding: 25px 60px;
    text-shadow:  0px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    letter-spacing: 1px;
    -webkit-transition:  box-shadow ls ease;
    transition: box-shadow ease;
}

.btn:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    -webkit-transition:  box-shadow ls ease;
    transition: box-shadow ease;
}

h1{
    font-family: 'Pacifico', cursive;
    color: #f4f3b4;
    font-size: 3rem;
    text-shadow:  0px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
    letter-spacing: 3px;
    
    
}